@import "@/styles/base/variables";

.primary {
  display: inline-block;
  box-sizing: border-box;
  width: 288px;
  padding: 16px 24px;

  font-family: inherit;
  font-size: 16px;
  font-weight: $font-weight-semibold;

  border: none;
  border-radius: 12px;

  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease;

  color: $white;
  background-color: $orange-100;

  @media screen and (min-width: $breakpoint-desktop) {
    width: 296px;
    padding: 20px 24px;

    font-size: 20px;
  }

  &:hover {
    background-color: $orange-80;
  }

  &:active {
    background-color: $orange-120;
  }
}
