@import "@/styles/base/variables";

.section {
  background: linear-gradient(to bottom right, #fff 50%, $orange-5 50%);

  @media screen and (min-width: $breakpoint-tablet) {
    gap: 24px;
  }
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    height: auto;
  }
}
